@font-face {
  font-family: 'Acrelec';
  src: url('../fonts/Acrelec.woff2') format('woff2'),
  url('../fonts/Acrelec.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.otf') format('opentype'),
  url('../fonts/Roboto-Regular.svg') format('svg');
}
