<div class="employees">
  <h1 class="employees_title">Employees List</h1>

  <input
    class="employees_input"
    type="text"
    placeholder="search"
    (keyup)="searchTerm$.next($event)">

  <app-employee
    *ngFor="let employee of employeesList"
    [employee]="employee"
    (onDeleteEvent)="openModal($event)"
  ></app-employee>
</div>

<app-confirm-popup
  *ngIf="employee"
  [isShow]="isShowModal"
  (onClose)="closeModal()"
>
  <div>Are you sure that you want to remove <strong>{{employee.FirstName}} {{employee.SecondName}}</strong> </div>
  <div>
    <btn-text label="delete" (click)="deleteEmployee(employee.Id)"></btn-text>
    <btn-text label="cancel" (click)="closeModal()"></btn-text>
  </div>
</app-confirm-popup>
