<div class="employee">
  <div class="left">
    <img src="../../../../assets/images/user.png" alt="user">

    <div class="employee_profile">
      <h1>{{fullName}}</h1>
      <p class="employee_profile_position">{{employee.Position}}</p>
    </div>
  </div>


  <div class="right">
    <btn-smart
      icon="delete-user"
      (click)="deleteEmployee(employee)"
    >
    </btn-smart>

    <btn-smart
      [disabled]="employee.Blocked"
      icon="edit-user"
    >
    </btn-smart>
  </div>

</div>
